.mypage_box {
    display:flex;
    flex-flow : column  wrap;
    justify-content: center;
    align-items: center;
}
.mine_tag_area {
    width:100%;
    text-align:center;
    margin-bottom:10px !important;
}


.sub_list {
    width:100%;
    /* background-color: red; */
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.sub_list dt {
    width:30% !important;
    /* background-color: beige; */
}
.sub_list dd {
    width:50% !important;
    /* background-color: blue; */
    margin-bottom:3px;
}

.mine_btn_area > button {
    margin-right:10px;
    margin-left:10px;
}

.mine_etc_box {
    width:100%;
}


@media screen and (min-width:279px) and (max-width:363px) {
    .mypage_box {
        padding:15px 5px!important;
        display:flex;
        flex-flow : column  wrap;
        justify-content: center;
        align-items: center;
    }
    .sub_list dt {
        width:40% !important;
        /* background-color: beige; */
        font-size:13.5px !important;

    }
    .sub_list dd {
        width:55% !important;
        /* background-color: blue; */
        margin-bottom:3px;
        font-size:13.5px !important;
    }
    .mine_tag_area {
        width:100%;
        text-align:center;
        margin-bottom:5px !important;
    }
    
    .mine_btn_area > button {
        margin-right:1px;
        margin-left:1px;
        font-size:12px;
        padding:0px 10px !important;
    }
    .mine_etc_box {
        padding: 30px 20px;
    }
    .mine_etc_box > div{
        font-size : 13.5px;
    }
}

@media (min-width:363px) and (max-width: 599px) {

    .sub_list dt {
        width:35% !important;
        /* background-color: beige; */
    }
    .sub_list dd {
        width:55% !important;
        /* background-color: blue; */
        margin-bottom:3px;
    }
    .mine_tag_area {
        width:100%;
        text-align:center;
        margin-bottom:5px !important;
    }
    
    .mine_btn_area > button {
        margin-right:1px;
        margin-left:1px;
        font-size:15px;
    }
}